{% extends 'polls/layout/base.html' %}

{% block content %}
    <h2>Опросы</h2>
    {% if latest_question_list %}
        <div class="row mt-3">
        {% for question in latest_question_list %}
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ question.question_text }}</h4>
                        <p class="card-description">{{ question.description }}</p>
                        <p><i><b>Дата публикации:</b> {{ question.pub_date }}</i></p>
                        <a href="{%url 'polls:detail' question.id %}" class="btn btn-primary">Пройти опрос</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Нет активных опросов.</p>
    {% endif %}
{% endblock %}